{% extends 'base.html' %}
{% block content %}
  <div class="max-w-6xl mx-auto p-6">
    <h1 class="text-2xl font-bold mb-6">My Ads</h1>

    {% if ads %}
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
        {% for ad in ads %}
          <div class="bg-white rounded-2xl shadow-lg hover:shadow-xl transition overflow-hidden group">
            {% include 'ads/_ad_card.html' %}
            <div class="px-5 pb-4 flex justify-between text-sm border-t pt-3">
              <a href="{% url 'edit_ad' ad.pk %}" class="text-blue-600 hover:text-green-700 transition duration-300">Edit</a>
              <a href="{% url 'delete_ad' ad.pk %}" class="text-sm text-red-600 hover:underline">Delete</a>
              <form method="post" action="{% url 'mark_sold_ad' ad.pk %}" class="inline">
                  {% csrf_token %}
                  {% if ad.is_active %}
                      <button type="submit" class="text-yellow-600 hover:underline">Mark as Sold</button>
                  {% else %}
                      <button type="submit" class="text-green-600 hover:underline">Reopen</button>
                  {% endif %}
              </form>

            </div>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <p class="text-gray-600">You haven’t posted any ads yet.</p>
    {% endif %}
  </div>
{% endblock %}
