{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
        Adify
      {% endblock %}
    </title>

    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body class="bg-gray-100 min-h-screen flex flex-col">
    <nav class="bg-white shadow-md">
      <div class="container mx-auto px-4 py-3 flex justify-between items-center">
        <a href="{% url 'home' %}" class="text-2xl font-bold text-indigo-600">Adify</a>

        <div class="flex space-x-4 items-center">
          {% if user.is_authenticated %}
           <a href="{% url 'my_ads' %}" class="text-gray-700 hover:text-indigo-600">My Ads</a>
            <span class="text-gray-700">Welcome, {{ user.username }}</span>
            <form method="post" action="{% url 'logout' %}" class="inline">
              {% csrf_token %}
              <button type="submit" class="px-4 py-2 bg-red-500 text-white rounded-lg hover:bg-red-600">Logout</button>
            </form>
          {% else %}
            <a href="{% url 'login' %}" class="text-gray-700 hover:text-indigo-600 transition">Login</a>
            <a href="{% url 'register' %}" class="bg-indigo-600 text-white px-3 py-1 rounded-md hover:bg-indigo-700 transition">Register</a>
          {% endif %}
        </div>
      </div>
    </nav>

    <main class="flex-grow container mx-auto px-4 py-6">
      {% block content %}

      {% endblock %}
    </main>

    <footer class="bg-white border-t mt-auto">
      <div class="container mx-auto px-4 py-4 text-center text-gray-500 text-sm">&copy; 2025 Adify. All rights reserved.</div>
    </footer>
  </body>
</html>
